@()(implicit request: RequestHeader, messages: Messages) 
@import forms.SignInForm.form

<fieldset class="col-lg-5 col-lg-offset-2">
    <legend>@Messages("sign.in.welcome")</legend>
    <form [ngFormModel]="form" (ngSubmit)="doLogin()" autocomplete="off">

        <div class="form-group">
            <label for="email">Email</label>
                <input id="email" ngControl="email" placeholder="Email" class="form-control input-md" required="" type="text">
                <span class="help-block">*Insirá um Email válido</span>
                <control-messages control="email"></control-messages>
        </div>

        <div class="form-group">
            <label  for="password">Password</label>        
            <input id="password" ngControl="password" placeholder="password" class="form-control input-md" required="" type="password">
            <control-messages control="password"></control-messages>
        </div>

        <div class="checkbox">
            <label for="rememberMe">
                <input type="checkbox" checked="true" value="true" ngControl="rememberMe" id="rememberMe">
            </label>
        </div>

        <div class="form-group">
            <button id="submit" type="submit" [disabled]="!form.valid" class="btn btn-lg btn-primary btn-block">@Messages("sign.in")</button>
        </div>

        <div>
            <p class="not-a-member">@Messages("not.a.member") <a [routerLink]="['SignUp']">@Messages("sign.up.now")</a></p>
        </div>

        <div>
            <p class="not-a-member">@Messages("info.privacy.term")</p>
        </div>
    </form>
</fieldset>